# Base URLs of the deployed API Gateway stages
VITE_API_BASE_URL=https://<api-id>.execute-api.<region>.amazonaws.com/Prod
VITE_DEMO_API_BASE_URL=https://<demo-api-id>.execute-api.<region>.amazonaws.com/Prod
VITE_ENVIRONMENT=dev
VITE_AWS_REGION=ap-south-1
